::selection {
    background-color: var(--blue);
    color: var(--purple);
}

:root {
    --purple: #a5a;
    --dark-purple: #949;
    --blue: #5aa;
    --dark-blue: #499;
}

body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: 15vh 1fr 10vh;
}

.header {
    grid-area: header;
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    z-index: 200;
    position: sticky;
    top: -15px;
}

.nav {
    height: 15vh;
    width: 10%;
    left: 0;
    justify-self: flex-start;
    position: absolute;
    display: flex;
}

.nav__icon {
    font-size: 60px;
    margin: auto;
    color: var(--blue);
}

.nav:hover > .nav__container {
    transform: translateX(0);
}

.nav__container {
    transform: translateX(-400px);
    position: absolute;
    height: 110vh;
    width: 20vw;
    background-color: var(--blue);
    display: flex;
    flex-flow: column nowrap;
    transition: transform 1s;

}

.nav__container > ul {
    list-style: none;
}

.nav__title {
    font-family: 'Petit Formal Script', cursive;
    font-size: 46px;
    text-align: center;
    color: #fff;
    margin: 15px auto 20px auto;
}

.nav__li {
    font-family: 'Nunito', sans-serif;
    margin: 5px 0 5px 15px;
    font-size: 32px;
    color: #fff;
    width: 60%;
    height: 45px;
}

.nav__a {
    text-decoration: none;
    padding: 5px 2px 5px 5px;
    color: #fff;
    display: inline-block;
    width: 100%;
    transition: background-color .4s, transform .4s;
}

.nav__a:hover {
    background-color: var(--dark-blue);
    transform: translateX(15px);
}

.nav__li-icons {
    width: 30px;
    margin-right: 10px;
}

.nav__separadores {
    height: 4px;
    width: 50%;
    background-color: #fff;
    margin: 0 0 0 19px;
}

.header__container-h1 {
    width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-bottom: 3px solid var(--purple);
}

.header__h1 {
    font-family: 'Petit Formal Script', cursive;
    font-size: 64px;
    color: var(--purple);
    margin: auto 15px;
}

.header__separador {
    width: 5px;
    height: 40%;
    margin: auto 0;
    background-color: var(--blue);
}

.header__h2-container {
    margin: auto 5px;
    overflow: hidden;
}

.header__h2 {
    margin: auto 5px;
    font-family: sans-serif;
    font-size: 24px;
    color: var(--blue);
    animation-name: sub-title;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    
}

@keyframes sub-title {
    from {
        transform: translateX(-200px);
    }

    to {
        transform: translateX(0);
    }
}

.main {
    grid-area: main;
    margin: 20px auto 0 auto;
    width: 70vw;
    z-index: 100;
}

.main__images-container {
    display: grid;
    padding: 10px;
    background-color: var(--purple);
    grid-template-columns: repeat(2,452px);
    grid-template-rows: 512px 1fr;
    justify-content: space-around;
    grid-gap: 10px;
    overflow: hidden;
}

.main__html-image-container, .main__css-image-container {
    margin-top: 10px;
}

.main__html-image, .main__css-image {
    height: 512px;
    width: 452px;
    transition: transform 1s;
    animation-name: images;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes images {
    0%  {
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }

    40%  {
        clip-path: polygon(0 0, 100% 0, 100% 60%, 0 0);
    }

    70%  {
        clip-path: polygon(0 0, 100% 0, 100% 20%, 0 20%);
    }

    100%  {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.main__html-image:hover, .main__css-image:hover {
    transform: scale(.8);
}

.main__html, .main__css {
    font-family: sans-serif;
    font-size: 36px;
    text-align: center;
    color: #fff;
    animation-name: text;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes text {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.footer {
    grid-area: footer;
}



@media screen and (max-width: 1400px) {
    .header__h1 {
        font-size: 52px;
    }
    
    .main {
        width: 80vw;
    }
}

@media screen and (max-width: 1200px) {
    .nav__container {
        width: 24vw;
    }

    .main__images-container {
        grid-template-columns: 412px 412px;
        grid-template-rows: 472px 1fr;
    }
    
    .main__html-image, .main__css-image {
        height: 472px;
        width: 412px;
    }
}

@media screen and (max-width: 1100px) {
    .nav__separadores {
        width: 60%;
    }
    
    .header__container-h1 {
        width: 60vw;
    }

    .main__images-container {
        grid-template-columns: 372px 372px;
        grid-template-rows: 432px 1fr;
    }
    
    .main__html-image, .main__css-image {
        height: 432px;
        width: 372px;
    }
}

@media screen and (max-width: 1000px) {
    .header__container-h1 {
        width: 60vw;
    }

    .main__images-container {
        grid-template-columns: 332px 332px;
        grid-template-rows: 392px 1fr;
    }
    
    .main__html-image, .main__css-image {
        height: 392px;
        width: 322px;
    }
}

@media screen and (max-width: 960px) {
    .nav__container {
        width: 30vw;
    }
    
    .main__images-container {
        grid-template-columns: 292px 292px;
        grid-template-rows: 352px 1fr;
    }
    
    .main__html-image, .main__css-image {
        height: 352px;
        width: 292px;
    }
}

@media screen and (max-width: 905px) {
    .header__container-h1 {
        width: 70vw;
    }
}

@media screen and (max-width: 780px) {
    .nav__title {
        font-size: 36px;
    }

    .nav__li {
        font-size: 28px;
        height: 42px;
        width: 70%;
    }

    .nav__separadores {
        height: 3px;
    }
    
    .header__container-h1 {
        width: 80vw;
    }

    .main__images-container {
        grid-template-columns: 1fr;
        grid-template-rows: 450px 1fr 450px 1fr;
    }

    .main__html-image, .main__css-image {
        height: 450px;
        width: 400px;
        margin: auto;
    }

    .main__html-image-container {
        order: 1;
        text-align: center;
    }

    .main__css-image-container {
        order: 3;
        text-align: center;
    }

    .main__html {
        order: 2;
    }

    .main__css {
        order: 4;
    }
}

@media screen and (max-width: 680px) {
    .nav__separadores {
        width: 70%;
    }
    
    .header__container-h1 {
        width: 70vw;
    }

    .header__h1 {
        font-size: 36px;
    }

    .header__h2 {
        font-size: 22px;
    }
}

@media screen and (max-width: 620px) {
    .nav__container {
        width: 40vw;
    }

    .nav__separadores {
        width: 60%;
    }

    .nav__icon {
        font-size: 40px;
    }
}

@media screen and (max-width: 585px) {
    .header__container-h1 {
        width: 60vw;
    }

    .header__h1 {
        font-size: 36px;
        text-align: center;
        margin: auto 0;
        width: 230px;
    }

    .header__h2 {
        font-size: 22px;
    }

    .main__images-container {
        grid-template-columns: 1fr;
        grid-template-rows: 320px 1fr 320px 1fr;
        grid-row-gap: 10px;
    }
    
    .main__html-image {
        height: 308px;
        width: 293px;
    }
    
    .main__css-image {
        height: 308px;
        width: 293px;
    }
}

@media screen and (max-width: 480px) {
    .header__container-h1 {
        width: 70vw;
    }

    .header__h2 {
        font-size: 20px;
    }

    .nav__container {
        width: 45vw;
    }
}

@media screen and (max-width: 400px) {    
    .header {
        top: -6px
    }

    .nav {
        height: 15vh;
        width: 15vw;
    }

    .nav__container {
        height: 100vh;
        width: 50vw;
    
    }
    
    .nav__title {
        font-size: 36px;
    }
    
    .nav__li {
        margin: 2px 0 2px 15px;
        font-size: 24px;
        height: 38px;
    }
    
    .nav__li-icons {
        margin-right: 0;
    }
    
    .nav__separadores {
        width: 60%;
    }
    
    .header__container-h1 {
        width: 65vw;
        border-bottom: 2px solid var(--purple);
    }
    
    .header__h1 {
        font-size: 32px;
        max-width: 180px;
        }
    
    .header__separador {
        width: 3px;
    }
    
    .header__h2 {
        font-size: 14px;
        margin: 0;
    }
    
    .main__images-container {
        grid-template-columns: 1fr;
        grid-template-rows: 240px 1fr 240px 1fr;
        grid-row-gap: 10px;
    }
    
    .main__html-image {
        height: 228px;
        width: 213px;
    }
    
    .main__css-image {
        height: 228px;
        width: 213px;
    }
    
    .main__html {
        font-size: 24px;

    }
    
    .main__css {
        font-size: 24px;
    }
}

@media screen and (orientation: landscape) {
    body {
        grid-template-rows: 20vh 1fr 15vh;
    }

    .header {
        top: 0;
    }

    .header__container-h1 {
        height: 20vh;
    }

    .nav {
        height: 20vh;
        width: 20vh;
    }
} 